/*
 * 
 */

body {
    background: #f0f0f0;
    font-family: "OperatorMono-XLight", "PragmataPro Mono", "SF Mono", "Menlo", "Monaco", "Courier New", "Courier", "mono", "monotype";
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    max-width: 750px;
    margin: 15vw auto;
}

p {
    background: #ffffff;
    border: 1px #cccccc solid;
    padding: 20px;
    margin: 20px;
}
