<!doctype html>
<html ng-app="myApp">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
    <ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
    </ul>
    <div ng-view></div>
    <div><strong>Angular ES6 Seed App: v<span app-version></span></strong></div>
</body>
</html>
